.about-company {
  &__container-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 288px;
    margin: 0 16px 40px 16px;
  }

  &__img-container {
    order: 10;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    min-width: 300px;
  }

  &__text--opened {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    min-width: 300px;
    visibility: visible;
    display: block;
    margin-bottom: 16px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 320px;
    height: 176px;
  }

  &__onwards,
  &__onwards--return {
    display: none;

    &:hover {
      color: rgba(0, 0, 0, 0.5);
      transition: color 0.3s;
    }

    &:active {
      color: rgba(0, 0, 0, 0.2);
      transition: color 0.3s;
    }
  }

  &__onwards {
    &:first-child {
      display: block;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
      margin-bottom: 16px;
      margin-top: 16px;

      &:before {
        content: '';
        display: inline-block;
        background-image: url(../img/icon_onwards.svg);
        background-repeat: no-repeat;
        width: 7px;
        height: 10px;
        margin-right: 16px;
      }
    }
  }

  &__onwards--return {
    &:first-child {
      display: block;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
      margin-bottom: 16px;
      margin-top: 0;

      &:before {
        content: '';
        display: inline-block;
        background-image: url(../img/icon_onwards.svg);
        background-repeat: no-repeat;
        width: 7px;
        height: 10px;
        margin-right: 16px;
        transform: rotate(180deg);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .about-company {
    & .container-wrapper {
      margin-right: 0;
      display: block;
    }

    &__container-wrapper {
      display: inline-block;
      margin-left: 24px;
    }

    &__text,
    &__text--opened {
      margin-bottom: 16px;
    }

    &__text {
      &:nth-child(3) {
        visibility: visible;
        display: block;
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }

    &__img {
      float: right;
      border-radius: 5px;
      width: 360px;
      height: 208px;
      margin: 0 0 32px 48px;
    }

    &__onwards {
      display: block;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
      margin-bottom: 32px;
      margin-top: 0;

      &:before {
        content: '';
        display: inline-block;
        background-image: url(../img/icon_onwards.svg);
        background-repeat: no-repeat;
        width: 7px;
        height: 10px;
        margin-right: 16px;
      }

      &:first-child {
        margin-top: 16px;
      }

      &:not(.about-company__onwards:first-child) {
        margin-left: 24px;
      }
    }

    &__onwards--return {
      display: block;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
      margin-bottom: 32px;
      margin-top: 0;

      &:before {
        content: '';
        display: inline-block;
        background-image: url(../img/icon_onwards.svg);
        background-repeat: no-repeat;
        width: 7px;
        height: 10px;
        margin-right: 16px;
        transform: rotate(180deg);
      }

      &:first-child {
        margin-top: 16px;
      }

      &:not(.about-company__onwards--return:first-child) {
        margin-left: 24px;
      }
    }
  }
}

@media (min-width: 1150px) {
  .about-company {
    &__container-wrapper {
      margin-right: 0;
      display: inline-block;
      margin: 0 48px 0 34px;
    }

    &__text,
    &__text--opened {
      margin-bottom: 16px;
    }

    &__text:nth-child(3),
    &__text:nth-child(4) {
      visibility: visible;
      display: block;
    }

    &__text:nth-child(3) {
      margin-bottom: 0;
    }

    &__img {
      float: right;
      border-radius: 5px;
      width: 531px;
      height: 307px;
      margin: 0 0 50px 36px;
    }

    &__text {
      min-width: 150px;
    }

    &__onwards {
      display: block;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 50px;

      &:before {
        content: '';
        display: inline-block;
        background-image: url(../img/icon_onwards.svg);
        background-repeat: no-repeat;
        width: 7px;
        height: 10px;
        margin-right: 16px;
      }
    }

    &__onwards--return {
      display: block;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
      margin-bottom: 50px;
      margin-top: 0;

      &:before {
        content: '';
        display: inline-block;
        background-image: url(../img/icon_onwards.svg);
        background-repeat: no-repeat;
        width: 7px;
        height: 10px;
        margin-right: 16px;
        transform: rotate(180deg);
      }
    }
  }
}
