.brands {
  position: relative;
  clear: both;

  &__heading-background {
    background-image: linear-gradient(
      to right,
      $color-gradient-first,
      $color-background-first
    );
    border-top: solid 1px $color-border-heading;
  }

  &__heading {
    color: $color-text-first;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: normal;
    margin-left: 16px;
    margin-bottom: 32px;
    padding: 16px 0;
  }

  &__list,
  &__list--opened {
    display: flex;
    margin-bottom: 24px;
  }

  &__brand-name {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 224px;
    height: 72px;
    border: solid 1px $color-separator;
    border-radius: 6px;
    background-color: $color-background-first;
    padding: 20px 16px;
    box-sizing: border-box;
  }

  & .lenovo {
    height: 32px;
    width: auto;
  }

  & .samsung {
    height: 38px;
    width: auto;
  }

  & .apple {
    height: 44px;
    width: auto;
  }

  & .view-sonic {
    height: 21px;
    width: auto;
  }

  & .bosh {
    height: 28px;
    width: auto;
  }

  & .hp {
    height: 38px;
    width: auto;
  }

  & .acer {
    height: 24px;
    width: auto;
  }

  & .sony {
    height: 26px;
    width: auto;
  }

  & .about-company__onwards {
    margin-left: 16px;
  }

  & .gradient {
    height: 80px;
    top: 85px;
  }

  & .button-go {
    border-radius: 50%;
    background-image: url(../img/go.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    transition: 0.2s;
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 0 8px $color-shadow-first;
    }

    &:active {
      box-shadow: 0 0 10px $color-shadow-second;
    }
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .brands {
    & .gradient {
      display: none;
    }

    &__heading {
      margin-bottom: 24px;
      margin-left: 24px;
    }

    &__list {
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 24px;
      max-height: 161px;
      overflow-y: hidden;
      transition: 0.5s;
      margin-bottom: 0;
    }

    &__list--opened {
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 24px;
      max-height: 100%;
      height: 100%;
    }

    & .swiper .my-pagination {
      display: none;
    }
  }
}

@media (min-width: 1150px) {
  .brands {
    &__heading {
      margin-left: 32px;
    }

    &__list {
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 24px;
      max-height: 161px;
      overflow-y: hidden;
      transition: 0.5s;
      margin-bottom: 0;
    }

    &__list--opened {
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 24px;
      max-height: 100%;
      height: 100%;
      transition: 0.5s;
    }

    & .swiper .my-pagination {
      display: none;
    }

    & .about-company__onwards,
    & .about-company__onwards {
      visibility: visible;
      margin-bottom: 50px;
      margin-left: 32px;
    }
  }
}
