html,
body {
  font-family: 'TT Lakes', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  background-color: $color-background-common;
  margin: 0 auto;
  padding: 0;
}

body {
  overflow-x: hidden;
}

ul,
li,
h1,
h2,
h3,
figure,
article {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'TT Lakes', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: 'TT Lakes', sans-serif;
  outline: none;
}

a {
  &:link,
  &:visited {
    color: $color-link;
    text-decoration: none;
  }
}

@media (min-width: 1150px) {
  body {
    max-width: 1440px;
  }
}
