.header-background {
  background-color: $color-background-first;
  width: 100%;
  border: 1px solid $color-border;
  margin-bottom: 24px;

  .header {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 18.59px 0 17.59px 0;
    width: 100%;
    min-width: 288px;

    &__img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }

    &__img-menu,
    &__img-request-repair,
    &__img-search {
      z-index: 2;
      width: 40px;
      height: 40px;
    }

    &__img-logo {
      width: 96.55px;
      height: 55.81px;
    }

    &__img-menu,
    &__img-logo {
      margin-right: 0.73px;
    }

    & button {
      transition: 0.3s;

      &:hover {
        filter: grayscale(0.3);
        transition: 0.2s;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .header {
    &__img-menu + .separator {
      display: block;
      background-color: $color-separator;
      width: 2px;
      height: 32px;
      border-radius: 1px;
      margin-right: 4.73px;
    }

    &__img-item {
      display: block;
      visibility: visible;
    }

    &__img-profile {
      margin-right: 4px;
    }
  }
}

@media (min-width: 1150px) {
  .header-background {
    position: absolute;
    margin-top: 20px;
    max-width: 1120px;
    right: 0;
    left: 0;
    visibility: hidden;
    position: absolute;

    .header {
      &__img-menu,
      &__img-logo,
      &__img-container > .separator {
        visibility: hidden;
        position: absolute;
        left: 0;
      }

      &__img-container {
        gap: 0;
      }

      &__img-call,
      &__img-chat,
      &__img-profile {
        visibility: hidden;
      }

      &__text-request-repair,
      &__text-search,
      &__img-item {
        visibility: visible;
        display: flex;
        z-index: 2;
        cursor: pointer;
      }

      &__text-request-repair > button,
      &__text-search > button {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        cursor: pointer;
      }

      &__text-search,
      &__text-request-repair {
        margin-right: 9px;
      }

      &__img-request-repair {
        margin-right: 28px;
      }
    }
  }
}
