.menu--closed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  min-width: 320px;
  min-height: 100%;
  padding: 0 16px;
  background-color: $color-background-first;
  transform: translateX(-400px);
  transition: transform 0.7s ease-in-out;

  & button:hover {
    filter: grayscale(0.3);
    transition: 0.3s;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  min-width: 320px;
  min-height: 100%;
  padding: 0 16px;
  background-color: $color-background-first;
  transition: transform 0.7s ease-in-out;
  transform: translateX(0);

  &__container-sticky {
    position: sticky;
    top: 18px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__img-close,
  &__img-search {
    width: 40px;
    height: 40px;
  }

  &__img-close {
    margin-right: 17px;
  }

  &__navigation-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: -16px;
    margin-bottom: 10px;
  }

  &__navigation-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-style: medium;
    vertical-align: middle;
    height: 32px;
  }

  &__navigation-list li:hover button {
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.5);
  }

  &__navigation-list li::before {
    content: '';
    display: inline-block;
    background-image: url(../img/border.svg);
    background-repeat: no-repeat;
    height: 32px;
    width: 4px;
    margin-right: 2px;
    filter: opacity(0);
  }

  &__navigation-list li:hover::before {
    filter: opacity(1);
    transition: 0.3s;
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &__contacts-images {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__email {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-style: medium;
    margin-bottom: 12px;
  }

  &__phone {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-style: bold;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__language {
    display: flex;
    gap: 7px;
  }

  &__language-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-style: medium;
  }

  &__language-item--selected {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-style: medium;
    color: $color-text-first;
  }

  & button:hover {
    filter: grayscale(0.3);
    transition: 0.3s;
  }
}

.menu-feedback--closed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 320px;
  max-width: 440px;
  min-height: 100%;
  background-color: white;
  padding: 0 16px;
  box-shadow: 16px 0 52px $color-shadow-third, -2px 0 4px $color-shadow-fourth;
  transition: transform 0.7s ease-in-out;
  transform-origin: right;
  transform: translateX(600px);
  box-sizing: border-box;
  z-index: 2;

  & button[type='button'] {
    margin-bottom: 32px;
  }
}

.menu-feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 320px;
  max-width: 440px;
  min-height: 100%;
  background-color: $color-background-first;
  padding: 0 16px;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2),
    -2px 0 4px rgba(69, 79, 126, 0.02);
  transition: transform 0.7s ease-in-out;
  transform-origin: right;
  transform: translateX(0);
  box-sizing: border-box;
  z-index: 2;

  &__container {
    position: sticky;
    top: 32px;
  }

  & button[type='button'] {
    margin-bottom: 32px;
  }

  &__heading-container {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: -16px;
    margin-bottom: 24px;
  }

  &__heading {
    font-size: 24px;
    line-height: 32px;
    vertical-align: middle;
  }

  &__heading-container {
    &::before {
      content: '';
      border-left: 4px solid $color-marker;
      border-radius: 0 4px 4px 0;
      height: 40px;
      margin: 0 12px 0 0;
      align-self: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 18px;
    max-width: 288px;
  }

  &__form input,
  &__form textarea {
    font-size: 16px;
    outline: none;
    border: solid 1px $color-separator;
    border-radius: 8px;
    padding: 12px 16px;
    resize: none;
    max-height: 48px;
    box-sizing: border-box;
    vertical-align: middle;

    &::placeholder {
      font-family: 'TT Lakes', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $color-pagination;
      vertical-align: middle;
      margin: 12px 16px;
    }
  }

  &__form textarea {
    min-height: 118px;
  }

  &__form button {
    align-self: flex-end;
    background-color: $color-background-second;
    color: $color-background-first;
    padding: 5px 22px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;

    &::after {
      content: '';
      display: inline-block;
      background-image: url(../img/dropdown.svg);
      background-repeat: no-repeat;
      width: 8px;
      height: 10px;
      margin-left: 12px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $color-text-first;
    margin-bottom: 7px;
    margin-top: 0;
  }

  &__text > span {
    color: $color-background-second;
  }

  & button:hover {
    filter: grayscale(0.3);
    transition: 0.3s;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  .menu {
    width: 100%;

    &__navigation-list li::before {
      margin-right: 8px;
    }
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .menu {
    box-shadow: 16px 0 52px $color-shadow-third;

    &__heading {
      margin-bottom: 46px;
    }

    &__navigation-list {
      gap: 32px;
    }

    &__navigation-list li::before {
      margin-right: 8px;
    }

    &__phone {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .menu {
    box-shadow: 16px 0 52px $color-shadow-third;

    &__heading {
      margin-bottom: 46px;
    }

    &__navigation-list {
      gap: 32px;
    }

    &__navigation-list li::before {
      margin-right: 8px;
    }

    &__phone {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 1150px) {
  .menu,
  .menu--closed {
    visibility: visible;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    z-index: 3;
    order: -3;
    box-shadow: none;
    height: auto;
    width: 320px;
    transition: none;
    transform: none;
    padding-bottom: 0;
    padding-top: 0;

    &__container-sticky {
      position: sticky;
      top: 32px;
    }

    .menu__heading {
      margin-bottom: 37px;
    }

    &__navigation {
      margin-bottom: 50px;
    }

    &__list > li {
      &:first-child {
        display: none;
      }
    }

    &__navigation-list {
      gap: 28px;
    }

    &__navigation-list li {
      &::before {
        margin-right: 8px;
      }
    }

    &__phone {
      margin-bottom: 40px;
    }
  }

  .menu-feedback {
    max-width: 440px;
    width: 100%;
    padding: 0 32px;
    z-index: 4;
    opacity: 1;

    &__form {
      max-width: 376px;
    }

    & button[type='button'] {
      margin-left: -104px;
    }

    & button[type='button'] {
      margin-left: -104px;
    }

    &__heading-container {
      margin-top: -74px;
      margin-left: -32px;
    }

    &__heading-container {
      &::before {
        margin: 0 28px 0 0;
      }
    }
  }

  .menu-feedback--closed {
    max-width: 440px;
    width: 100%;
    padding: 0 32px;
    transform-origin: right;
    transform: translate(700px);
    opacity: 0;
    transition: transform 1s, opacity 0.1ms 1s;

    &__form {
      max-width: 376px;
    }

    & button[type='button'] {
      margin-left: -104px;
    }

    &__heading-container {
      margin-top: -74px;
      margin-left: -32px;
    }

    &__heading-container::before {
      margin: 0 28px 0 0;
    }
  }
}
