.prices {
  & .gradient {
    height: 200px;
  }

  & .brands__brand-name.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 16px;
    min-width: 260px;
    height: 200px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-weight: normal;
    padding: 16px;
  }

  &__headings {
    display: flex;
    flex-direction: column;
    gap: 38px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: $color-text-first;
    opacity: 72.18%;
  }

  &__info {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-weight: normal;
    margin-top: 20px;
  }

  & .swiper-slide:nth-child(2) &__headings li:nth-child(2),
  & .swiper-slide:nth-child(4) &__headings li:nth-child(2),
  & .swiper-slide:nth-child(5) &__headings li:nth-child(2) {
    margin-top: 17px;
  }

  &__to-order {
    position: absolute;
    bottom: 16px;
    right: 16px;
    align-self: flex-end;
    background-color: $color-background-second;
    color: white;
    padding: 4px 12px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    z-index: 2;

    &::after {
      content: '';
      display: inline-block;
      background-image: url(../img/dropdown.svg);
      background-repeat: no-repeat;
      width: 8px;
      height: 10px;
      margin-left: 12px;
    }
  }

  & button:hover {
    &:hover {
      filter: grayscale(0.3);
      transition: 0.2s;
    }
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .prices {
    & .brands__list {
      max-height: 100%;
      height: 100%;
      overflow-y: visible;
    }

    & .brands__heading {
      margin-bottom: 63px;
    }

    & .swiper {
      overflow: visible;
      margin: 0 80px 24px 0;
    }

    & .swiper-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 0;
      flex-wrap: nowrap;
      padding: 0 16px;
      background-color: $color-background-first;
      margin-right: 32px;
    }

    & .swiper-slide.brands__brand-name {
      display: flex;
      justify-content: center;
      padding: 0;
      position: relative;
      border: none;
      height: 64px;
      min-width: 100%;
      margin: 0 auto;
      border-radius: 0;
      border-bottom: solid 1px $color-separator;
      background-color: transparent;
    }

    & .swiper-slide.brands__brand-name:first-child {
      border-radius: 6px 6px 0 0;
    }

    & .swiper-slide.brands__brand-name:last-child {
      border-bottom: none;
      border-radius: 0 0 6px 6px;
    }

    &__headings {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      position: absolute;
      top: -32px;
    }

    &__headings li {
      &:nth-child(2) {
        position: absolute;
        left: 57.5%;
      }
    }

    &__headings li {
      &:nth-child(3) {
        position: absolute;
        left: 70%;
      }
    }

    &__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
    }

    &__info li {
      &:nth-child(2) {
        position: absolute;
        left: 57.5%;
      }
    }

    &__info li {
      &:nth-child(3) {
        position: absolute;
        left: 70%;
      }
    }

    &
      .brands__brand-name:nth-child(n + 2)
      &__headings.prices__headings:first-of-type {
      display: none;
    }

    & .brands__brand-name > button {
      position: static;
      justify-content: center;
    }
  }
}

@media (min-width: 1150px) {
  .prices {
    & .brands__list {
      max-height: 100%;
      height: 100%;
      overflow-y: visible;
    }

    & .brands__heading {
      margin-bottom: 63px;
    }

    & .swiper {
      overflow: visible;
      margin: 0 96px 24px 0;
    }

    & .swiper-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 0;
      flex-wrap: nowrap;
      padding: 0 16px;
      background-color: white;
      margin-right: 32px;
    }

    & .swiper-slide.brands__brand-name {
      display: flex;
      justify-content: center;
      padding: 0;
      position: relative;
      border: none;
      height: 64px;
      min-width: 100%;
      margin: 0 auto;
      border-radius: 0;
      border-bottom: solid 1px $color-separator;
      background-color: transparent;
    }

    & .swiper-slide.brands__brand-name:first-child {
      border-radius: 6px 6px 0 0;
    }

    & .swiper-slide.brands__brand-name:last-child {
      border-bottom: none;
      border-radius: 0 0 6px 6px;
    }

    &__headings {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      position: absolute;
      top: -32px;
    }

    &__headings li:nth-child(2) {
      position: absolute;
      left: 57.5%;
    }

    &__headings li:nth-child(3) {
      position: absolute;
      left: 70%;
    }

    &__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
    }

    &__info li:nth-child(2) {
      position: absolute;
      left: 57.5%;
    }

    &__info li:nth-child(3) {
      position: absolute;
      left: 70%;
    }

    &
      .brands__brand-name:nth-child(n + 2)
      &__headings.prices__headings:first-of-type {
      display: none;
    }

    & .brands__brand-name > button {
      position: static;
      justify-content: center;
    }
  }
}
