$color-background-common: #f8f8f8;
$color-background-first: white;
$color-background-second: #ff3e79;
$color-link: black;
$color-gradient-first: #f8f8f8;
$color-gradient-second: rgba(248, 248, 248, 0.0001);
$color-separator: #eaeaea;
$color-marker: #41f6d7;
$color-text-first: #7e7e82;
$color-border: #b8ffec;
$color-border-heading: #d9fff5;
$color-shadow-first: #ebbdd2;
$color-shadow-second: #e4a0bf;
$color-shadow-third: rgba(14, 24, 80, 0.2);
$color-shadow-fourth: rgba(69, 79, 126, 0.02);
$color-pagination: #b5b6bc;
